.box{
    width: 200px;
    height: 40px;
    margin: auto;
    border: 2px solid #FED57B;
    background: #FED57B;
}
.center{
    text-align: center;
}
body {
    background: rgb(221, 221, 221);
    /* background:#b3dfc3	 */
}    
.topic{
    color: rgb(49, 60, 95);
    /* color: 	#689479 */
}
.miniText{
    font-style: oblique;
    text-align: right;
}
